:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-text: #213547;

  --string-tag-color: #c00000;
  --int-tag-color: #ffdd00;
  --float-tag-color: #098a5d;
  --reference-tag-color: #0077d9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: fill;
  margin: 0;
}

#navbar {
  flex-shrink: 1;
  padding: 1rem;
  display: flex;
  width: fill;
  align-items: start;

  h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }

  border-bottom: 0.5rem solid #f9f9f9;
}

#content {
  display: flex;
  flex-direction: row;
  height: auto;
  flex: 1;
  padding: 0;
  margin: 0;
}

#sidebar {
  padding: 1rem;
  border-right: 0.1rem solid #f9f9f9;
  display: flex;
  flex-direction: column;
}

#debug_console {
  font-family: monospace;
  align-self: flex-end;
}

#tags {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#notes {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#editor {
  margin: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  input[type="text"],
  textarea {
    appearance: none;
    border: none;
    width: 100%;
    background: none;
  }

  input[type="text"] {
    font-size: xx-large;
  }

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    resize: none;
    height: 100%;
  }

}

button {
  padding: 0.5rem;
}

#new_tag_dialog:open {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0;
  border-radius: 1em;
}

::backdrop {
  backdrop-filter: blur(1px);
}

#note_tags_list,
#note_tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.int {
  background-color: var(--int-tag-color);
  color: var(--dark-text);
}

.float {
  background-color: var(--float-tag-color);
}

.string {
  background-color: var(--string-tag-color);
}

.reference {
  background-color: var(--reference-tag-color);
}

.tag-name {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.tag-value {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.9rem 0.5rem 0.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.note_link {
  width: 100%;
  display: flex;
  justify-content: space-between;

  >button {
    border: 0;
    background: none;
  }
}

.note_link:hover {
  background-color: #343434;
}

.new_tag_data_type_entry {
  flex-direction: row;
}

#new_tag_data_types {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-text);
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}