:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-text);
  background-color: var(--default-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-background: #242424;
  --hover-background: #343434;

  --dark-text: #213547;
  --light-text: rgb(242, 242, 242);

  --string-tag-color: #c00000;
  --int-tag-color: #ffdd00;
  --float-tag-color: #066b1f;
  --reference-tag-color: #0077d9;

  --divider-color: #414449;
  --delete-color: #c63838;
}

a {
  font-weight: 500;
  color: #848afe;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: fit-content(50px) 1fr;
  grid-template-areas:
    "head ."
    "nav body";
  width: 100dvw;
  height: 100dvh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  padding: 0.5rem;
}

main>div {
  resize: horizontal;
  overflow: scroll;
}

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    height: auto;
  }
}

::details-content {
  transition: height 0.2s ease;
  height: auto;
  overflow: clip;
}

#new_note_tag {
  margin: 1rem;

  summary {
    &::after {
      content: "▾";
    }

    [open] &::after {
      content: "▴";
    }

    list-style: none;

    &:hover {
      background-color: var(--hover-background);
    }
  }

  ul {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    outline: 0.1rem solid var(--hover-background);

    background-color: var(--default-background);

    li {
      position: relative;
      min-width: full;

      &:hover {
        background-color: var(--hover-background);
      }
    }

    overflow-y: scroll;
  }
}

#navbar {
  flex-shrink: 1;
  padding: 1rem;
  display: flex;
  width: fill;
  align-items: start;
  grid-area: head;

  h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  border-bottom: 0.1rem solid var(--divider-color);
}


#sidebar {
  border-right: 0.1rem solid var(--divider-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: nav;
}

#editor {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  grid-area: body;

  input[type="text"],
  textarea {
    appearance: none;
    border: 0.1rem solid var(--hover-background);
    width: 100%;
    background: none;
  }

  input[type="text"] {
    font-size: xx-large;
  }

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    resize: none;
    height: 100%;
  }

  #note_tags_list,
  #note_tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
  }

  #new_note_tag {
    margin: 1rem;
  }

  .tag {
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    font-size: medium;

    &:last-child {
      margin-right: 0;
    }

    &.int {
      background-color: var(--int-tag-color);
      color: var(--dark-text);
    }

    &.float {
      background-color: var(--float-tag-color);
    }

    &.string {
      background-color: var(--string-tag-color);
    }

    &.reference {
      background-color: var(--reference-tag-color);
    }

    .tag-name {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.5rem 0.5rem 0.5rem 0.9rem;
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }

    .tag-value {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0.5rem 0.9rem 0.5rem 0.5rem;
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;

      >a {
        color: var(--light-text);
        text-decoration: underline;
        font-weight: normal;

        &:hover,
        &:focus {
          font-weight: bold;
        }
      }
    }
  }
}

#new_tag_dialog:open {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0;
  border-radius: 1em;

  #new_tag_data_types {
    display: flex;
    flex-direction: column;
  }

  .new_tag_data_type_entry {
    flex-direction: row;
  }
}

::backdrop {
  backdrop-filter: blur(1px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-text);
    --default-background: #ffffff;
    --hover-background: #c6c6c6;
    --string-tag-color: #be3737;
    --int-tag-color: #ffe53e;
    --float-tag-color: #30b34a;
    --reference-tag-color: #0269bd;
  }

  .string {
    color: var(--light-text);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}